:root {
    --color-primary: #6c9bcf;
    --color-danger: #ff0060;
    --color-success: #1b9c85;
    --color-warming: #f7d060;
    --color-white: #fff;
    --color-purple: #bc1ce4;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f6; 

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;
    --border-radius-3: 3rem;

    --card-padding:1.8rem;
    --padding-1: 1.2rem;
    --padding-2: 0.75rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    --box-shadow-2: 0 0.5rem 0.5rem var(--color-light);
    --box-shadow-test: 20px 20px 20px 20px var(--color-light)
}

.dark-mode {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffdbe;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light)
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-align: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    /* user-select: none; */
    color: var(--color-dark);
    background-color: var(--color-background);
    transition: all 0.7s ease;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.25em;
}

h3 {
    font-weight: 500;
    font-size: 1em;
}

small {
    font-size: 0.76rem;
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.non-available {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
    color: var(--color-white); 
    z-index: 10; 
    text-align: center;
    padding: 1rem;
}

.non-available p {
    font-size: 1.8rem;
    color: var(--color-danger);
}

.text-muted {
    color: var(--color-info-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warming {
    color: var(--color-warming);
}

/* Login Page */
.login-container {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    padding: var(--padding-1);
    background-color: var(--color-background);
    border-radius: var(--border-radius-2);
    width: 30rem;
    height: auto;
    box-shadow: var(--box-shadow);
    transition: 0.7s all ease;
}

.login-container:hover {
    box-shadow: none;
}

.login-container .form-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin-bottom: 3rem;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.login-container form label {
    font-weight: bold;
}

.login-container form input[type="text"],
.login-container form input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: var(--border-radius-1);
}

.login-container form .forgot-password {
    position: absolute;
    bottom: 96px;
    right: 2px;
    font-size: 0.72rem;
}

.login-container form .forgot-password:hover {
    text-decoration: underline;
}

.login-container form .login-btn {
    padding: 0.5rem;
    border-radius: var(--border-radius-1);
    background-color: #19191c;
    color: var(--color-white);
    cursor: pointer;
    transition: 0.7s all ease;
}

.login-container form .login-btn:hover {
    opacity: 0.5;
}

.login-extra-btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.login-extra-btns a {
    font-size: 0.72rem;
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius-1);
    background-color: #19191c;
    color: var(--color-white);
    margin-top: 3.5rem;
    transition: 0.7s all ease;
}

.login-extra-btns a:hover {
    opacity: 0.5;
}

.error-message {
    color: var(--color-danger);
    font-size: 0.7rem;
}

.dashboard-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-container .dashboard-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
    width: 70%;
    padding: var(--padding-1);
    gap: 1rem;
}

.dashboard-grid a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 1rem); 
    height: 180px; 
    text-align: center;
    text-decoration: none;
    background-color: var(--color-white);
    box-sizing: border-box;
    font-weight: bold;
    border-radius: var(--border-radius-3);
    transition: background-color 0.7s ease;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    transition: 0.7s all ease;
    margin-bottom: 30px;
}

.users-manager:hover {
    border-bottom: 50px var(--color-danger) solid;
}

.warehouse-manager:hover {
    border-bottom: 50px #ffc108 solid;
}

.inventory-manager:hover {
    border-bottom: 50px var(--color-purple) solid;
}

.supplier-manager:hover {
    border-bottom: 50px #2980ba solid;
}

.order-manager:hover {
    border-bottom: 50px #e67d22 solid;
}

.ac-manager:hover {
    border-bottom: 50px #49bff2 solid;
}

.pay-manager:hover {
    border-bottom: 50px var(--color-success) solid;
}

.settings-manager:hover {
    border-bottom: 50px #666 solid;
}

.dashboard-grid a .users,
.dashboard-grid a .warehouse,
.dashboard-grid a .inventory,
.dashboard-grid a .shipping,
.dashboard-grid a .order,
.dashboard-grid a .ac,
.dashboard-grid a .payments,
.dashboard-grid a .settings {
    color: #FFF;
    font-size: 40px;
    border-radius: 50%;
    padding: var(--padding-2);
    margin-top: 2px;
    transition: transform 0.7s ease;
}

.dashboard-grid a .users {
    background-color: var(--color-danger);
}

.dashboard-grid a .warehouse {
    background-color: #ffc108;
}

.dashboard-grid a .inventory {
    background-color: var(--color-purple);
}

.dashboard-grid a .shipping {
    background-color: #2980ba;
}

.dashboard-grid a .order {
    background-color: #e67d22;
}

.dashboard-grid a .ac {
    background-color: #49bff2;
}

.dashboard-grid a .payments {
    background-color: var(--color-success);
}

.dashboard-grid a .settings {
    background-color: #666;
}

.dashboard-grid a .text-users,
.dashboard-grid a .text-warehouse,
 .dashboard-grid a .text-inventory,
 .dashboard-grid a .text-shipping,
 .dashboard-grid a .text-order,
 .dashboard-grid a .text-ac,
 .dashboard-grid a .text-payments,
 .dashboard-grid a .text-settings {
    margin-top: 45px;
    transition: all 0.7s ease;
}

.dashboard-grid a:hover {
    box-shadow: none;
    transform: translateY(-15px);
    transition: transform 0.3s ease;
}

.dashboard-grid a:hover .users,
.dashboard-grid a:hover .warehouse,
.dashboard-grid a:hover .inventory,
.dashboard-grid a:hover .shipping,
.dashboard-grid a:hover .order,
.dashboard-grid a:hover .ac,
.dashboard-grid a:hover .payments,
.dashboard-grid a:hover .settings {
    transform: scale(1.2); 
}

.dashboard-grid a:hover .text-users,
 .dashboard-grid a:hover .text-warehouse,
 .dashboard-grid a:hover .text-inventory,
 .dashboard-grid a:hover .text-shipping,
 .dashboard-grid a:hover .text-order,
 .dashboard-grid a:hover .text-ac,
 .dashboard-grid a:hover .text-payments,
 .dashboard-grid a:hover .text-settings {
    color: #FFF;
    margin-top: 55px;
    transform: scale(1.1); 
}

.header-dashboard {
    width:50%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 40px;
    transition: transform 0.3s ease-in-out;
}

.header-hidden {
    transform: translateY(-100%); 
    transition: transform 0.3s ease-in-out;
}

.dashboard-nav {
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo img {
    max-height: 10rem;
}

.user-info {
    display: flex;
    flex-direction: row;
}

.user-info p {
    padding: 1rem;
    margin-right: 1rem;
}

.dashboard-nav form {
    padding: 1rem;
}

.dashboard-nav button {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--color-danger);
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.7s;
    border: 2px solid var(--color-danger);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 var(--color-danger);
}

.dashboard-nav button:hover {
    color: #FFF;
    box-shadow: inset 0 -100px 0 0 var(--color-danger);
}

.dashboard-nav  button:active {
        transform: scale(0.9);
}

.user-manager-container {
    display: flex;
    width: 100vw;
    max-height: 100vh;
    margin-top: 1rem;
    flex-direction: row;
    gap: 3rem;
    padding: var(--padding-1);
    align-items: flex-start; 
}

.user-manager-container .side-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 85px; 
    min-height: 85vh;
    text-align: center;
    padding: 0.3rem;
    background-color: var(--color-white);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    transition: 0.7s all ease;
}

.user-manager-container .side-menu:hover {
    box-shadow: none;
}

.user-manager-container .side-menu a {
    border-radius: var(--border-radius-1);
    position: relative;
    transition: 0.3s all ease;
}

.user-manager-container .side-menu a:hover {
    background-color: var(--color-light);
    margin-left: 5px;
}

.user-manager-container .side-menu .material-symbols-outlined{
    vertical-align: middle;
    padding: 0.3rem 0;
}

.user-manager-container .side-menu a:last-child {
    margin-top: auto; 
    margin-bottom: 10px;
}

.user-manager-container .side-menu .active {
    background-color: var(--color-dark);
}

.user-manager-container .side-menu .active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%; 
    transform: translateY(-50%); 
    height: 50%; 
    width: 3px;
}

.user-manager-container .side-menu .active-users::before {
    background-color: var(--color-danger);
}

.user-manager-container .side-menu .active-warehouse::before {
    background-color: #ffc108;
}

.user-manager-container .side-menu .active-inventory::before {
    background-color: var(--color-purple);
}

.user-manager-container .side-menu .active-shipping::before {
    background-color: #2980ba;
}

.user-manager-container .side-menu .active-order::before {
    background-color: #e67d22;
}

.user-manager-container .side-menu .active-ac::before {
    background-color: #49bff2;
}

.user-manager-container .side-menu .active-payments::before {
    background-color: var(--color-success);
}

.user-manager-container .side-menu .active-settings::before,
.user-manager-container .side-menu .active-home::before {
    background-color: #666;
}

.user-manager-container .side-menu .users {
    color: var(--color-danger);
}

.user-manager-container .side-menu .warehouse {
    color: #ffc108;
}

.user-manager-container .side-menu .inventory {
    color: var(--color-purple);
}

.user-manager-container .side-menu .shipping {
    color: #2980ba;
}

.user-manager-container .side-menu .order {
    color: #e67d22;
}

.user-manager-container .side-menu .ac {
    color: #49bff2;
}

.user-manager-container .side-menu .payments {
    color: var(--color-success);
}

.user-manager-container .side-menu .settings {
    color: #666;
}

.user-manager-container .side-menu .home {
    color: #666;
}

.user-manager-container h3 {
    padding: 0.5rem;
}

h3 .user-manager-cards-title {
    margin-left: 0.5rem;
    color: var(--color-dark-variant);
}

.user-manager-container h3 a {
    color: var(--color-dark);
    transition: 0.7s all ease;
}

.user-manager-container h3 a:hover {
    color: var(--color-danger);
    text-decoration: underline;
}

.user-manager-cards-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding: 0 2rem 0 0 ;
}

.user-manager-cards-container .user-manager-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 0.5rem;
}

.user-manager-container .user-manager-cards-container .user-manager-card {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    flex: 1 1 calc(25% - 2rem); 
    box-sizing: border-box; 
    border-radius: var(--border-radius-1);
    padding: 2rem;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    transition: 0.7s ease all;
}

.user-manager-container .user-manager-cards-container .user-manager-card:hover {
    box-shadow: none;
}

.user-manager-container .user-manager-cards-container .user-manager-card h2 {
    font-size: 1.4rem;
}

.user-manager-container .user-manager-cards-container .user-manager-card p {
    font-size: 0.72rem;
}

.user-manager-container .user-manager-cards-container .user-manager-card .manager-statics {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-manager-container .user-manager-cards-container .user-manager-card .manager-statics .numbers-statics {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.user-manager-container .user-manager-cards-container .user-manager-card .manager-statics .numbers-statics .number-of-users {
    font-size: 3rem;
}

.user-manager-container .user-manager-cards-container .user-manager-card .manager-statics .numbers-statics .new-users-in-30-days {
    color: var(--color-success);
    font-size: 1rem;
}

.user-manager-container .user-manager-cards-container .user-manager-card .manager-statics a {
    display: flex;
    background-color: var(--color-light);
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius-1);
    color: var(--color-dark-variant);
    transition: all 0.7s ease;
}

.user-manager-container .user-manager-cards-container .user-manager-card .manager-statics a:hover {
    background-color: var(--color-dark-variant);
    color: var(--color-danger);
}

.user-manager-cards-container .users-details {
    margin-left: 0.5rem;
    margin-top: 2rem;
    padding: var(--padding-1);
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
    transition: 0.7s all ease;
}

.user-manager-cards-container .users-details p {
    margin-top: 0.3rem;
    font-size: 0.8rem;
}

.user-manager-cards-container .users-details:hover {
    box-shadow: none;
}

.user-detail-list {
    margin-top: 1.5rem;
    width: 100%;
}

.user-detail-list table {
    width: 100%;
    border-collapse: collapse;
    max-width: 100%;
    table-layout: fixed;
    word-wrap: break-word
}

.user-detail-list table a:hover {
    color: var(--color-danger);
    opacity: 1;
}

.user-name-table {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-name-table .table-user-name p {
    font-size: 0.72rem;
}

.user-detail-list th, .user-detail-list td {
    padding: 17px 15px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-detail-list td {
    font-size: 0.9rem;
}

.user-detail-list td .person {
    vertical-align: middle;
    margin-right: 0.3rem;
}

.user-detail-list thead {
    color: var(--color-danger);
    border-bottom: 1px solid #ddd;
}

.user-detail-list tbody tr:hover {
    background-color: #16191b;
}

.user-detail-list th {
    font-weight: bold;
}

.user-detail-list .show-more {
    display: flex;
    margin-top: 1rem;
    font-size: 0.87rem;
    justify-content: center;
    opacity: 0.3;
    transition: all 0.3s ease;
}

.user-detail-list .show-more:hover {
    opacity: 1;
}

.manager-new-registration {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    text-align: center;
}

.manager-new-registration h2 {
    color: var(--color-danger);
    font-size: 1.6rem;
}

.manager-new-registration p {
    font-size: 0.9rem;
}

.manager-new-registration .manager-new-registration-inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    margin-top: 2rem;
    padding: var(--padding-1);
}

.manager-new-registration-inner form {
    display: flex;
    width: 100%;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.new-register-user-form {
    width: calc(45% - 1rem);
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    transition: 0.7s all ease;
}

.new-register-user-form:hover,
.new-register-permission-form:hover {
    box-shadow: none;
}

.new-register-permission-form {
    width: calc(45% - 1rem);
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    transition: 0.7s all ease;
}

.new-register-permission-form h3 {
    color: var(--color-danger);
    text-align: left;
    font-size: 1.4rem;
}

.new-register-user-form .manager-new-registration-input {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.new-register-user-form .manager-new-registration-input label,
.new-register-user-form .manager-new-registration-input input[type="text"],
.new-register-user-form .manager-new-registration-input input[type="email"],
.new-register-user-form .manager-new-registration-input input[type="password"]{
    width: 100%;
}

.manager-new-registration-label-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.new-register-user-form .manager-new-registration-input input {
    padding: 0.9rem 1rem;
    border-radius: var(--border-radius-1);
    background-color: transparent;
    border: solid 1px var(--color-dark);
    text-align: center;
    color: var(--color-info-dark);
}

.new-register-user-form select {
    padding: 0.9rem 1rem; 
    border-radius: var(--border-radius-1); 
    background-color: transparent; 
    border: solid 1px var(--color-dark); 
    text-align: center;
    width: 100%; 
    font-family: inherit; 
    font-size: inherit; 
    color: var(--color-dark);
    cursor: pointer; 
}

.new-register-user-form select:focus {
    outline: none; 
    border-color: var(--color-danger); 
}

.new-register-user-form .manager-new-registration-label-input {
    position: relative;
}

.new-register-user-form select option {
    background-color: var(--color-background); 
    color: var(--color-dark);
    padding: 0.5rem;
    cursor: pointer;
}

.new-register-user-form select option:checked {
    background-color: var(--color-danger); 
    color: #FFF; 
}

.new-register-permission-checkbox {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 3rem;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

.permission-checkbox {
    display: flex;
    width: 100%;
}

.container-checkbox {
    cursor: pointer;
    vertical-align: middle;
}
  
.container-checkbox input {
    display: none;
}
  
.container-checkbox svg {
    overflow: visible;
}

.path {
    fill: none;
    stroke: var(--color-success);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
}
  
.container-checkbox input:checked ~ svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
}

.reactivate-users-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reactivate-users-container .reactivate-users-container-header {
    margin-bottom: 3rem;
}

.reactivate-users-container .reactivate-users-filters .input-search-user-container {
    position: relative; 
    width: 80%; 
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    transition: ease all 0.7s;
}

.reactivate-users-container .reactivate-users-filters .input-search-user-container:hover {
    box-shadow: none;
}

.reactivate-users-container .reactivate-users-filters input[type="text"] {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1px solid var(--color-info-dark);
    border-radius: var(--border-radius-1);
    color: var(--color-dark);
}

.reactivate-users-container .reactivate-users-filters button {
    position: absolute; 
    right: 0.2rem; 
    top: 50%; 
    padding: 0.1rem 2rem;
    transform: translateY(-50%); 
    background: none;
    border: none; 
    cursor: pointer; 
    color: var(--color-dark);
    transition: all ease 0.7s;
    border-left: 1px solid var(--color-dark);
}

.reactivate-users-container .reactivate-users-filters button:hover {
    color: var(--color-danger);
    border-left: var(--color-danger) 1px solid ;
}

.reactivate-users-table {
    width: 80%;
    height: 39rem;
    margin: 4rem auto;
    overflow-y: scroll;
    border-radius: var(--border-radius-1);
    padding: var(--padding-1);
    box-shadow: var(--box-shadow);
    border-collapse: collapse; 
    transition: 0.7s ease all;
    scrollbar-width: thin;
    scrollbar-color: var(--color-dark) var(--color-light);
}

.reactivate-users-table table {
    width: 100%;
}

.reactivate-users-table:hover {
    box-shadow: none;
}

.reactivate-users-table::-webkit-scrollbar {
    width: 1px; 
}

.reactivate-users-table::-webkit-scrollbar-track {
    background: var(--color-light); 
    border-radius: 10px; 
}

.reactivate-users-table::-webkit-scrollbar-thumb {
    background-color: var(--color-dark); 
    border-radius: 10px; 
    border: 2px solid var(--color-light); 
}

.reactivate-users-table th, 
.reactivate-users-table td {
    padding: 17px 15px; 
    text-align: left; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.reactivate-users-table th {
    font-weight: bold; 
    color: var(--color-danger); 
    border-bottom: 1px solid var(--color-dark); 
}

.table-reactivate-user-name p {
    font-size: 0.7rem;
}

.reactivate-users-table td {
    font-size: 0.9rem; 
}

.reactivate-users-table tbody tr:hover {
    opacity: 0.5; 
}

.btn-inactive {
    display: flex;
    background-color: var(--color-danger);
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    color: #FFF;
    width: 70%;
    justify-content: center;
}

.btn-activate {
    display: flex;
    background-color: var(--color-success);
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    color: #FFF;
    width: 70%;
    justify-content: center;
}

.edit-user-submit-btn {
    font-family: inherit;
    display: inline-block;
    width: 8rem;
    height: 2.6rem;
    line-height: 2.5rem;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color-danger);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color-danger);
    background-color: #181a1e;
  }
  
  .edit-user-submit-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color-danger);
    height: 130px;
    width: 180px;
    border-radius: 50%;
  }
  
  .edit-user-submit-btn:hover {
    color: var(--color-danger);
    color: #FFF;
  }
  
  .edit-user-submit-btn:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  .edit-user-submit-btn:hover:before {
    top: -30px;
    left: -30px;
  }
  
  .edit-user-submit-btn:active:before {
    background: var(--color-danger);
    transition: background 2s;
  }

.manager-new-registration form .edit-password-btn-hidden {
    border: 1px solid  var(--color-dark);
    background-color: transparent;
    width: 100%;
    cursor: pointer;
    transition: 0.7s all ease;
    border-radius: var(--border-radius-1);
    color: var(--color-dark);
    padding: 1rem 1rem;
}

.manager-new-registration form .edit-password-btn-hidden:hover {
    background-color: var(--color-success);
    border: solid 1px var(--color-success);
}

.all-users-details {
    margin-bottom: 2rem;
}