:root {
    --color-primary: #6c9bcf;
    --color-danger: #ff0060;
    --color-success: #1b9c85;
    --color-warming: #f7d060;
    --color-white: #fff;
    --color-purple: #bc1ce4;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f6; 

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;
    --border-radius-3: 3rem;

    --card-padding:1.8rem;
    --padding-1: 1.2rem;
    --padding-2: 0.75rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    --box-shadow-2: 0 0.5rem 0.5rem var(--color-light);
    --box-shadow-test: 20px 20px 20px 20px var(--color-light)
}

.dark-mode {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light)
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-align: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    color: var(--color-dark);
    background-color: var(--color-background);
    transition: all 0.7s ease;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.25em;
}

h3 {
    font-weight: 500;
    font-size: 1em;
}

small {
    font-size: 0.76rem;
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.non-available {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
    color: var(--color-white); 
    z-index: 10; 
    text-align: center;
    padding: 1rem;
}

.non-available p {
    font-size: 1.8rem;
    color: var(--color-danger);
}

.text-muted {
    color: var(--color-info-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warming {
    color: var(--color-warming);
}

/* Login Page */
.login-container {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    padding: var(--padding-1);
    background-color: var(--color-background);
    border-radius: var(--border-radius-2);
    width: 30rem;
    height: auto;
    box-shadow: var(--box-shadow);
    transition: 0.7s all ease;
}

.login-container:hover {
    box-shadow: none;
}

.login-container .form-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin-bottom: 3rem;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.login-container form label {
    font-weight: bold;
}

.login-container form input[type="text"],
.login-container form input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: var(--border-radius-1);
}

.login-container form .forgot-password {
    position: absolute;
    bottom: 96px;
    right: 2px;
    font-size: 0.72rem;
}

.login-container form .forgot-password:hover {
    text-decoration: underline;
}

.login-container form .login-btn {
    padding: 0.5rem;
    border-radius: var(--border-radius-1);
    background-color: #19191c;
    color: var(--color-white);
    cursor: pointer;
    transition: 0.7s all ease;
}

.login-container form .login-btn:hover {
    opacity: 0.5;
}

.login-extra-btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.login-extra-btns a {
    font-size: 0.72rem;
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius-1);
    background-color: #19191c;
    color: var(--color-white);
    margin-top: 3.5rem;
    transition: 0.7s all ease;
}

.login-extra-btns a:hover {
    opacity: 0.5;
}

.error-message {
    color: var(--color-danger);
    font-size: 0.7rem;
}

.dashboard-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-container .dashboard-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
    width: 70%;
    padding: var(--padding-1);
    gap: 1rem;
}

.dashboard-grid a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 1rem); 
    height: 180px; 
    text-align: center;
    text-decoration: none;
    background-color: var(--color-white);
    box-sizing: border-box;
    font-weight: bold;
    border-radius: var(--border-radius-3);
    transition: background-color 0.7s ease;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    transition: 0.7s all ease;
    margin-bottom: 30px;
}

.users-manager:hover {
    border-bottom: 50px var(--color-danger) solid;
}

.warehouse-manager:hover {
    border-bottom: 50px #ffc108 solid;
}

.inventory-manager:hover {
    border-bottom: 50px var(--color-purple) solid;
}

.supplier-manager:hover {
    border-bottom: 50px #2980ba solid;
}

.order-manager:hover {
    border-bottom: 50px #e67d22 solid;
}

.ac-manager:hover {
    border-bottom: 50px #49bff2 solid;
}

.pay-manager:hover {
    border-bottom: 50px var(--color-success) solid;
}

.settings-manager:hover {
    border-bottom: 50px #666 solid;
}

.dashboard-grid a .users,
.dashboard-grid a .warehouse,
.dashboard-grid a .inventory,
.dashboard-grid a .shipping,
.dashboard-grid a .order,
.dashboard-grid a .ac,
.dashboard-grid a .payments,
.dashboard-grid a .settings {
    color: #FFF;
    font-size: 40px;
    border-radius: 50%;
    padding: var(--padding-2);
    margin-top: 2px;
    transition: transform 0.7s ease;
}

.dashboard-grid a .users {
    background-color: var(--color-danger);
}

.dashboard-grid a .warehouse {
    background-color: #ffc108;
}

.dashboard-grid a .inventory {
    background-color: var(--color-purple);
}

.dashboard-grid a .shipping {
    background-color: #2980ba;
}

.dashboard-grid a .order {
    background-color: #e67d22;
}

.dashboard-grid a .ac {
    background-color: #49bff2;
}

.dashboard-grid a .payments {
    background-color: var(--color-success);
}

.dashboard-grid a .settings {
    background-color: #666;
}

.dashboard-grid a .text-users,
.dashboard-grid a .text-warehouse,
 .dashboard-grid a .text-inventory,
 .dashboard-grid a .text-shipping,
 .dashboard-grid a .text-order,
 .dashboard-grid a .text-ac,
 .dashboard-grid a .text-payments,
 .dashboard-grid a .text-settings {
    margin-top: 45px;
    transition: all 0.7s ease;
}

.dashboard-grid a:hover {
    box-shadow: none;
    transform: translateY(-15px);
    transition: transform 0.3s ease;
}

.dashboard-grid a:hover .users,
.dashboard-grid a:hover .warehouse,
.dashboard-grid a:hover .inventory,
.dashboard-grid a:hover .shipping,
.dashboard-grid a:hover .order,
.dashboard-grid a:hover .ac,
.dashboard-grid a:hover .payments,
.dashboard-grid a:hover .settings {
    transform: scale(1.2); 
}

.dashboard-grid a:hover .text-users,
 .dashboard-grid a:hover .text-warehouse,
 .dashboard-grid a:hover .text-inventory,
 .dashboard-grid a:hover .text-shipping,
 .dashboard-grid a:hover .text-order,
 .dashboard-grid a:hover .text-ac,
 .dashboard-grid a:hover .text-payments,
 .dashboard-grid a:hover .text-settings {
    color: #FFF;
    margin-top: 55px;
    transform: scale(1.1); 
}

.header-dashboard {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 30px 40px;
}

.dashboard-nav {
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo img {
    max-height: 10rem;
}

.user-info {
    display: flex;
    flex-direction: row;
}

.user-info p {
    padding: 1rem;
    margin-right: 1rem;
}

.dashboard-nav form {
    padding: 1rem;
}

.dashboard-nav button {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--color-danger);
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.7s;
    border: 2px solid var(--color-danger);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 var(--color-danger);
}

.dashboard-nav button:hover {
    color: #FFF;
    box-shadow: inset 0 -100px 0 0 var(--color-danger);
}

.dashboard-nav  button:active {
        transform: scale(0.9);
}

.user-manager-container {
    display: flex;
    width: 100vw;
    flex-direction: row;
    gap: 3rem;
    padding: var(--padding-1);
    align-items: flex-start; 
}

.user-manager-container .side-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 75vh;
    width: 85px; 
    text-align: center;
    padding: 0.3rem;
    background-color: var(--color-white);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    transition: 0.7s all ease;
}

.user-manager-container .side-menu:hover {
    box-shadow: none;
}

.user-manager-container .side-menu a {
    border-radius: var(--border-radius-1);
    position: relative;
    transition: 0.3s all ease;
}

.user-manager-container .side-menu a:hover {
    background-color: var(--color-light);
    margin-left: 5px;
}

.user-manager-container .side-menu .material-symbols-outlined{
    vertical-align: middle;
    padding: 0.3rem 0;
}

.user-manager-container .side-menu a:last-child {
    margin-top: auto; 
    margin-bottom: 10px;
}

.user-manager-container .side-menu .active {
    background-color: var(--color-dark);
}

.user-manager-container .side-menu .active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%; 
    transform: translateY(-50%); 
    height: 50%; 
    width: 3px;
}

.user-manager-container .side-menu .active-users::before {
    background-color: var(--color-danger);
}

.user-manager-container .side-menu .active-warehouse::before {
    background-color: #ffc108;
}

.user-manager-container .side-menu .active-inventory::before {
    background-color: var(--color-purple);
}

.user-manager-container .side-menu .active-shipping::before {
    background-color: #2980ba;
}

.user-manager-container .side-menu .active-order::before {
    background-color: #e67d22;
}

.user-manager-container .side-menu .active-ac::before {
    background-color: #49bff2;
}

.user-manager-container .side-menu .active-payments::before {
    background-color: var(--color-success);
}

.user-manager-container .side-menu .active-settings::before,
.user-manager-container .side-menu .active-home::before {
    background-color: #666;
}

.user-manager-container .side-menu .users {
    color: var(--color-danger);
}

.user-manager-container .side-menu .warehouse {
    color: #ffc108;
}

.user-manager-container .side-menu .inventory {
    color: var(--color-purple);
}

.user-manager-container .side-menu .shipping {
    color: #2980ba;
}

.user-manager-container .side-menu .order {
    color: #e67d22;
}

.user-manager-container .side-menu .ac {
    color: #49bff2;
}

.user-manager-container .side-menu .payments {
    color: var(--color-success);
}

.user-manager-container .side-menu .settings {
    color: #666;
}

.user-manager-container .side-menu .home {
    color: #666;
}

.user-manager-container h3 {
    padding: 0.5rem;
}

h3 .user-manager-cards-title {
    margin-left: 0.5rem;
    color: var(--color-dark-variant);
}

.user-manager-container h3 a {
    color: var(--color-dark);
    transition: 0.7s all ease;
}

.user-manager-container h3 a:hover {
    color: var(--color-danger);
    text-decoration: underline;
}
