<!-- LINKS POR COLOCAR -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product  |  Cubix</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/darkMode.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            position: relative;
            min-height: auto;
            overflow-x: hidden;
            position: relative;
        }
    </style>
</head>
<body id="body">
    <!-- Form for Logout -->
    <form id="logout-form" action="{{ url_for('logout') }}" method="post" style="display: none;">
        <input type="hidden" name="logout" value="true">
    </form>
    <!-- End of Form for Logout -->

    <!-- Loader -->
    <div class="🤚">
        <div class="👉"></div>
        <div class="👉"></div>
        <div class="👉"></div>
        <div class="👉"></div>
        <div class="🌴"></div>		
        <div class="👍"></div>
    </div>
    <!-- End of Loader -->
     
    <!-- Main Menu -->
     <main class="main-content" style="display: none;">
        <div class="user-manager-container">
            <div class="user-manager-container">
                <div class="side-menu">
                    <a href="/dashboard" title="Dashboard"><span class="material-symbols-outlined home">widgets</span></a>
                    <a href="/users-manager" title="Users Management"><span class="material-symbols-outlined users">account_circle</span></a>
                    <a href="/products-manager" title="Warehouse" class="active active-warehouse"><span class="material-symbols-outlined warehouse">warehouse</span></a>
                    <a href="" title="Stock"><span class="material-symbols-outlined inventory">inventory_2</span></a>
                    <a href="" title="Shipping"><span class="material-symbols-outlined shipping">local_shipping</span></a>
                    <a href="" title="Orders"><span class="material-symbols-outlined order">package_2</span></a>
                    <a href="" title="Climate Controls"><span class="material-symbols-outlined ac">ac_unit</span></a>
                    <a href="" title="Payments"><span class="material-symbols-outlined payments">payments</span></a>
                    <a href="" title="Messages" class="messages-a"><span class="material-symbols-outlined mail">mail</span><span class="mesage-count">10</span></a>
                    <a href="" title="Settings"><span class="material-symbols-outlined settings">manufacturing</span></a>
                    <a href="#" onclick="document.getElementById('logout-form').submit();" title="Logout"><span class="material-symbols-outlined users">logout</span></a>
                </div>

            <div class="manager-new-registration">
                <h2>Register</h2>
                <p>Create a new product</p>

                <form action="" method="POST">
                    <div class="manager-new-registration-inner">
                        <div class="new-register-user-form">
                            <div class="manager-new-registration-input">

                                <div class="manager-new-registration-label-input">
                                    <label for="brand">Brand</label>
                                    <select name="brand" id="brand-select" required>
                                        <option value="">Select a brand</option>
                                    </select>
                                </div>

                                <div class="manager-new-registration-label-input">
                                    <label for="name">Description</label>
                                    <input type="text" name="name" required placeholder="Product description...">
                                </div>
                            </div>

                            <div class="manager-new-registration-input">
                                <div class="manager-new-registration-label-input">
                                    <label for="product_type">Product Type</label>
                                    <select name="product_type" id="product_type-select" required>
                                        <option value="">Select a product type</option>
                                    </select>
                                </div>

                                <div class="manager-new-registration-label-input">
                                    <label for="buy_price">Buy Price</label>
                                    <input type="number" name="buy_price" required placeholder="5.78" class="no-spinner">
                                </div>
                            </div>

                            <div class="manager-new-registration-input">
                                <div class="manager-new-registration-label-input">
                                    <label for="margin">Margin</label>
                                    <input type="number" name="margin" required placeholder="120" class="no-spinner">
                                </div>

                                <div class="manager-new-registration-label-input">
                                    <label for="min_recommended_stock">Minimum Recommended Stock</label>
                                    <input type="number" name="min_recommended_stock" required placeholder="50" class="no-spinner">
                                </div>
                            </div>

                            <div class="manager-new-registration-input">
                                <div class="manager-new-registration-label-input">
                                    <label for="warehouse_section">Warehouse Section</label>
                                    <input type="text" name="warehouse_section" required placeholder="A">
                                </div>

                                <div class="manager-new-registration-label-input">
                                    <label for="warehouse_shelf">Warehouse Shelf</label>
                                    <input type="text" name="warehouse_shelf" required placeholder="1">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <button type="submit" class="edit-user-submit-btn">Submit</button>
                </form>
            </div>
        </div>
     </main>
     <script src="/static/js/loader.js"></script>
     <script src="/static/js/request.js"></script>
     <script src="/static/js/main.js"></script>
</body>
</html>