<!-- LINKS POR COLOCAR -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Manager  |  Cubix</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/darkMode.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        body {
            display: flex;
            flex-direction: column;
            position: relative;
            min-height: auto;
        }
    </style>
</head>
<body id="body">
    <!-- Form for Logout -->
    <form id="logout-form" action="{{ url_for('logout') }}" method="post" style="display: none;">
        <input type="hidden" name="logout" value="true">
    </form>
    <!-- End of Form for Logout -->

    <!-- Main Menu -->
     <main>
        <div class="user-manager-container">
            <div class="side-menu">
                <a href="/dashboard" title="Dashboard"><span class="material-symbols-outlined home">widgets</span></a>
                <a href="/users-manager" title="Users Management"><span class="material-symbols-outlined users">account_circle</span></a>
                <a href="/products-manager" title="Warehouse" class="active active-warehouse"><span class="material-symbols-outlined warehouse">warehouse</span></a>
                <a href="" title="Stock"><span class="material-symbols-outlined inventory">inventory_2</span></a>
                <a href="" title="Shipping"><span class="material-symbols-outlined shipping">local_shipping</span></a>
                <a href="" title="Orders"><span class="material-symbols-outlined order">package_2</span></a>
                <a href="" title="Climate Controls"><span class="material-symbols-outlined ac">ac_unit</span></a>
                <a href="" title="Payments"><span class="material-symbols-outlined payments">payments</span></a>
                <a href="" title="Messages" class="messages-a"><span class="material-symbols-outlined mail">mail</span><span class="mesage-count">10</span></a>
                <a href="" title="Settings"><span class="material-symbols-outlined settings">manufacturing</span></a>
                <a href="#" onclick="document.getElementById('logout-form').submit();" title="Logout"><span class="material-symbols-outlined users">logout</span></a>
            </div>

            <div class="user-manager-cards-container">
                
                <div class="user-manager-cards">
                    <div class="user-manager-card">
                        <h2>Products</h2>
                        <p>Oversee and control your product listings effortlessly.</p>

                        <div class="manager-statics">
                            <div class="numbers-statics">
                                <h2 class="number-of-users"> {{ last_product_id }} </h2>
                                <p>Items in Inventory</p>
                            </div>
                                <a href="/create-new-product" class="btn-shine">Add New Product</a>
                        </div>

                        <p class="users-card-final-p">Total number of products in the database</p>
                    </div>

                    <div class="user-manager-card">
                        <h2>Out of Stock Products</h2>
                        <p>These products are currently unavailable in stock.</p>

                        <div class="manager-statics">
                            <div class="numbers-statics">
                                <h2 class="number-of-users">{{ out_of_stock_products_count }}</h2>
                                <p>Products out of stock</p>
                            </div>
                                <a href="/products-out-of-stock" class="btn-shine">View Products</a>
                        </div>

                        <p class="users-card-final-p">Total number of products currently out of stock in the system.</p>
                    </div>

                    <div class="user-manager-card">
                        <h2>Deactivated Products</h2>
                        <p>Review and restore deactivated products to your inventory.</p>
                        
                        <div class="manager-statics">
                            <div class="numbers-statics">
                                <h2 class="number-of-users deactivated"> {{ deactivated_products_count }}</h2>
                                <p>Currently Inactive</p>
                            </div>
                                <a href="/reactivate-product" class="btn-shine">Reactivate</a>
                        </div>

                        <p class="users-card-final-p">Total number of deactivated products</p>
                    </div>

                    <div class="user-manager-card">
                        <h2>Suppliers</h2>
                        <p>Oversee and manage your suppliers efficiently.</p>

                        <div class="manager-statics">
                            <div class="numbers-statics">
                                <h2 class="number-of-users">{{ last_supplier_id }}</h2>
                                <p>Active Suppliers</p>
                            </div>
                                <a href="/create-new-supplier" class="btn-shine">Add New Supplier</a>
                        </div>

                        <p class="users-card-final-p">Total number of suppliers in the database.</p>
                    </div>
                </div>

                <div class="users-details">
                    <h2>Top-Selling Products</h2>
                    <p>Explore the most popular products based on sales performance.</p>
                    <div class="user-detail-list products">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Total Sales</th>
                                    <th>Total Profit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product, total_sales, total_profit in best_selling_products[:4] %}
                                <tr>
                                    <td>{{ product }}</td>
                                    <td>{{ total_sales }}</td>
                                    <td><span class="success">$ {{ total_profit | round(2) }}</span></td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="3">No sales data available.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <a href="/all-products" class="show-more">Show More</a>
                    </div>
                </div>
            </div>
        </div>
     </main>
     <script src="/static/js/main.js"></script>
</body>
</html>